<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/trendstyle.css')}}" />
    <title>Buttons</title>
</head>
<body>
    <div>
        <nav>
            <a class="name" href="">Pathfinder</a>
            <ul id="sidemenu">
              <li><a href="index.html">Home</a></li>
              <li><a href="#contact">Contact</a></li>  
            </ul>
          </nav>
    <div class = "ima">
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fplacementdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018a177c4fd0_00000000" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

       <div class = "content-container">
         <div class="container">
                <a href="http://127.0.0.1:5500/cse%20department.html">
                <button class="btn btn1">CSE</button>
                </a>
                <br><br>
                <a href="http://127.0.0.1:5500/cse%20department.html">
                <button class="btn btn2">ECE</button>
                </a>
                <br><br>
                <a href="http://127.0.0.1:5500/cse%20department.html">
                <button class="btn btn3">MECH</button>
                </a>
                <br><br>
                <a href="http://127.0.0.1:5500/cse%20department.html">
                <button class="btn btn4">Predict Yours</button>
                </a>
                <br><br>
                <p style="font-family:'Franklin Gothic Medium'";align="centre">Suggested Websites helps you to built your resume</p>
                <a href="https://www.overleaf.com/">
                <button class="btn btn1"><img src ="overleaf.png" alt="OverLeaf" width="70" height=""></button>
                </a>
                <br><br>
                <a href="https://www.canva.com/">
                <button class="btn btn2"><img src="Canva.png" alt="Canvas" width="70" height=""></button>
                </a>
                <br><br>
            </div>
      </div>
    </div>
</div>

    
</body>
</html>

